%h1 Last texes
.texes
  - @texes.each do |t|
    .well
      = t['message']

%form.form-inline{action: '/tex', method: :post}
  %input.span3{type: :text, name: :message, placeholder: "Type a 142 long message (or less)"}
  %input.btn.btn-primary{type: :submit, value: 'Post Tex !'}
